<% provide(:title,"勤怠編集" ) %>
<div>
  <h1>勤怠編集画面</h1>
   <%= form_for(@user, url: update_attendances_path, method: :patch) do |f| %>
  <table class = "table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出社</th>
        <th>退社</th>
        <th>在社時間</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
         <% @dates.each do |day| %>
        <% 
    css_class = 
    case %w{日 月 火 水 木 金 土}[day.worked_on.wday]
    when '土'
      'text-primary'
    when '日'
      'text-danger'
    end
  %>
         <%= fields_for "attendances[]", day do |af| %>
      <tr>
        <td><%= day.worked_on.to_s(:date) %></td>
        <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></td>
        <td><%= af.time_field :started_at, class: "form-control" %></td>
        <td><%= af.time_field :finished_at, class: "form-control" %></td>
        <td>
                <% if day.started_at.present? && day.finished_at.present? %>
                  <%= working_times(day.started_at, day.finished_at) %>
                <% end %>
        </td>
        <td><%= af.text_field :note, class: "form-control" %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
    <div class="btn-attendances-update-1">
    <%= f.submit "更新", class: "btn btn-primary" %>
    </div>
    <div class="btn-attendances-update-2">
    <%= link_to "キャンセル", user_path(@user, params:{first_day: @first_day}), class: "btn btn-default btn-block" %>
    </div>
     <% end %>
</div>
